
body {
	font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Oswald', sans-serif;
	font-weight: 700; 
}

.title-basics {
    margin-top: 30px;
    height: auto;
    text-align: left;
    font-family: sans-serif;
    color: #000;
    font-size: 22px;
    letter-spacing: .2em;
    font-weight: lighter;
}

.title-basics span {
    color: #9a9a9a;
    font-size: 33px;
    line-height: 1.2em;
    letter-spacing: 0;
    font-family: 'Oswald', sans-serif;
}

.title-basics strong {
    font-weight: bolder;
    color: #9a9a9a;
    font-size: 45px;
    line-height: 1.1em;
    letter-spacing: .07em;
    font-family: 'Oswald', sans-serif;
}

.create-title {
    letter-spacing: .07em;
    padding: 10px 0px 30px 5px;

}

.create-title strong {
    color: #f0f0f0;
}

/*** What is IDD ***/

/*** Create ***/

/*** Classes ***/

/*** Jobs ***/

/*** Learn ***/

/*** Apply ***/

